:root{
    scroll-behavior: smooth;

    --black: #000000;
    --purple: #5E17EB;
    --white: #ffffff;
    --gray_white: #dddddd;
}

body{
  overflow-x: hidden;
}

nav{
    color: var(--white);
}

footer{
    background-color: var(--black);
    color: var(--white);
}

.height-view{
    height: 100vh;
    width: 100%;
    position: relative;
    
}

.header{
    background: linear-gradient(
        rgba(94, 23, 235, 0.2),
        rgba(0, 0, 0, 0.9)
    ),
    url(../source/Fondo_Inicial.jpg);
    background-size: cover;
    background-position: center center;

    height: 100vh;
    width: 100%;
    position: relative;

    color: var(--white);
    vertical-align: middle;
}

.header-content{
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

.header-content-main{
    margin: 0 auto;
    padding-top: 35vh;
    position: relative;
}

.logo-nav{
    height: 50px;
    max-width: 100%;
    
    vertical-align: middle;
    border-style: none;
}    

.logo-footer{
    height: 130px;
    max-width: 100%;
    
    vertical-align: middle;
    border-style: none;
}

.social-container{
    justify-content: center;
    font-size: 35px;
}

.p_info{
    color: var(--gray_white) !important;
}

.icon{
    color: var(--white);
}

.icon-dark{
  color: var(--black);
}

.a:hover{
  color: #5E17EB;
}


#preloader {
    display: flex;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
  }
  
  #preloader:before,
  #preloader:after {
    content: "";
    background-color: var(--black);
    position: absolute;
    inset: 0;
    width: 50%;
    height: 100%;
    transition: all 0.2s ease 0s;
    z-index: -1;
  }
  
  #preloader:after {
    left: auto;
    right: 0;
  }
  
  #preloader .line {
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 1px;
    height: 280px;
    transition: all 0.3s ease 0s;
  }
  
  #preloader .line:before {
    content: "";
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 50%;
    width: 1px;
    height: 0%;
    transform: translateY(-50%);
    animation: lineincrease 600ms ease-in-out 0s forwards;
  }
  
  #preloader .line:after {
    content: "";
    position: absolute;
    background-color: #999;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    transform: translateY(-100%);
    animation: linemove 600ms linear 0s infinite;
    animation-delay: 1000ms;
  }
  
  #preloader.loaded .line {
    opacity: 0;
    height: 100% !important;
  }
  
  #preloader.loaded .line:after {
    opacity: 0;
  }
  
  #preloader.loaded:before,
  #preloader.loaded:after {
    animation: preloaderfinish 200ms ease-in-out 300ms forwards;
  }
  
  @keyframes lineincrease {
    0% {
      height: 0%;
    }
  
    100% {
      height: 100%;
    }
  }
  
  @keyframes linemove {
    0% {
      transform: translateY(200%);
    }
  
    100% {
      transform: translateY(-100%);
    }
  }
  
  @keyframes preloaderfinish {
    0% {
      width: 5 0%;
    }
  
    100% {
      width: 0%;
    }
  }

  .padding1{
    padding: 0.5%;
  }

  .padding2{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .padding3{
    padding: 3%;
  }

  .font1{
    font-size: 2rem;
  }

  .font-2{
    font-size: 3rem;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pagination-space {
    height: 40px;
}