/* =================================================================== 
 *  GEEKSON DIGITAL style.css
 *  ------------------------------------------------------------------
 *
 *  # Root
 *  # Animation
 *  # Preloader
 *  # Body
 *  # Header
 *      ## Logo
 *      ## Sidebar
 *  # Section
 *      ## Home
 *      ## About-us
 *      ## Service-us
 *      ## Our-portfolio
 *      ## Our-clients
 *      ## Contact
 *  # Footer

 * #Display
 * #Color
 * #Font
 * #Padding
 * #Margin
 * =================================================================== */

/* ===================================================================
 * # Root
 * ------------------------------------------------------------------- */

 *{
  transition: all 0.15s ease-in-out;
}

:root {
  scroll-behavior: smooth;

  --black: #000000;
  
  --purple: #5E17EB;
  --dark-purple: #1e1c22;
  --gray-purple: #2a2a35;

  --white: #ffffff;
  --gray_white: #f3f3f3;

  --gray: #969696;
  --darkgray: #303030;

  /* MODE NIGHT
  
  --background-color: var(--dark-purple);
  --background-content: var(--gray-purple);

  --title-text-color: var(--white);
  --text-color: var(--gray_white);
  --shadow-text: var(--purple);
  --line-color: var(--white);
  
    MODE DAY
    
  --background-color: var(--white);
  --background-content: var(--gray_white);

  --title-text-color: var(--black);
  --text-color: var(--dark-purple);
  --shadow-text: var(--white);
  --line-color: var(--black);

    
  */

  --background-color: var(--white);
  --background-content: var(--gray_white);

  --title-text-color: var(--black);
  --text-color: var(--dark-purple);
  --shadow-text: var(--white);
  --line-color: var(--black);
}

/* ===================================================================
 * # Animation
 * ------------------------------------------------------------------- */

@keyframes lineincrease {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@keyframes linemove {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes preloaderfinish {
  0% {
    width: 50%;
  }

  100% {
    width: 0%;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 70vw;
  }
}

@keyframes fliter {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

/* ===================================================================
 * # Scrollbar custom
 * ------------------------------------------------------------------- */
body {
  overflow: overlay;
  background-color: var(--background-color) !important;

}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--gray);
  border-radius: 10px;
}

/* ===================================================================
* # Preloader
* ------------------------------------------------------------------- */
#preloader {
  display: flex;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
}

#preloader:before,
#preloader:after {
  content: "";
  background-color: var(--black);
  position: absolute;
  inset: 0;
  width: 50%;
  height: 100%;
  transition: all 0.2s ease 0s !important;
  z-index: -1;
}

#preloader:after {
  left: auto;
  right: 0;
}

#preloader .line {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 1px;
  height: 280px;
  transition: all 0.3s ease 0s !important;
}

#preloader .line:before {
  content: "";
  position: absolute;
  background-color: var(--white);
  left: 0;
  top: 50%;
  width: 1px;
  height: 0%;
  transform: translateY(-50%);
  animation: lineincrease 600ms ease-in-out 0s forwards;
}

#preloader .line:after {
  content: "";
  position: absolute;
  background-color: var(--gray);
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  transform: translateY(-100%);
  animation: linemove 600ms linear 0s infinite;
  animation-delay: 1000ms;
}

#preloader.loaded .line {
  opacity: 0;
  height: 100% !important;
}

#preloader.loaded .line:after {
  opacity: 0;
}

#preloader.loaded:before,
#preloader.loaded:after {
  animation: preloaderfinish 200ms ease-in-out 300ms forwards;
}

/* ===================================================================
* # Change Dark
* ------------------------------------------------------------------- */

.change-section{
  color: var(--text-color) !important;
  background: var(--background-color) !important;
}

h1, h2{
  text-shadow:
        1px -1px 0 var(--purple),
        -1px 1px 0 var(--purple),
        0.5px  0.5px 0 var(--purple) !important;
}

h2{
  text-shadow:
        1px -1px 0 var(--shadow-text),
        -1px 1px 0 var(--shadow-text),
        0.2px  0.2px 0 var(--shadow-text) !important;
}

h1, h2, h3, h4, h5{
  color: var(--title-text-color);
}

.line-title {
  width: 50%;
  margin: auto;
}

.line-writer {
  white-space: nowrap;
  overflow: hidden;
}

.animated-writer {
  animation: typewriter 2s steps(48, end);
}

.animated-fliter {
  animation: fliter 3s ease infinite;
  color: var(--line-color);
}

.swiper-slide {
  background: var(--background-content) !important;
}

.card{
  color: var(--text-color) !important;
  background: transparent !important;
}

.card-title{
  font-size: 23px;
}

.swiper-pagination-bullet{
  width: 9px !important;
  height: 9px !important;
  background: var(--title-text-color) !important;
}

.swiper-pagination-employeed .swiper-pagination-bullet-active-main:hover {
  transition: background-color 0.45s ease-in-out !important;
  background-color: var(--text-color) !important;
}

.swiper-pagination-clients .swiper-pagination-bullet-active-main:hover {
  transition: background-color 0.45s ease-in-out !important;
  background-color: var(--text-color) !important;
}

/* ===================================================================
* # Body
* ------------------------------------------------------------------- */

.title {
  font-size: 6vh;
  font-weight: bold;

  display: inline-block !important;
  margin: 0;
}

.animated-fliter-white{
  animation: fliter 3s ease infinite;
  color: var(--white);
}

/* ===================================================================
* # Header
* ------------------------------------------------------------------- */

header {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out !important;

  color: var(--white);
}

.appearance .light-dark{
  align-items: center;
  color: var(--white);
  
  height: 100%;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  margin: 0 10px;
  border-radius: 2px;
  background-color: var(--gray-purple);
  opacity: 0.85;
  cursor: pointer;
  transition: 0.5s ease-in-out !important;
}

.appearance .light-dark:hover{
  opacity: 1.3;
}

header.transparent {
  color: var(--white);
  background-color: transparent !important;
}

header.dark {
  color: var(--white);
  background-color: var(--black);
}

a.nav-link {
  color: var(--white) !important;
  position: relative;
  transition: border-bottom 0.4s ease !important;
}

a.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--purple);
  transition: width 0.45s ease !important;
}

a.nav-link:hover::after {
  width: 100%;
}

.logo-header {
  height: 50px;
  max-width: 100%;

  vertical-align: middle;
  border-style: none;
}

.offcanvas.slide {
  transition: transform 0.5s ease-in-out !important;
}

.offcanvas.show {
  transition: transform 0.5s ease-in-out !important;
}

.icon-logo {
  height: 50px;
  max-width: 100%;

  vertical-align: middle;
  border-style: none;
}

.navbar-toggler-white {
  color: var(--white);
}

.btn-close {
  color: var(--white);
}

.header-offcanvas {
  background-color: var(--black) !important;
}

.offcanvas-footer {
  color: var(--white);
}

.a-offcanvas {
  color: var(--white);
  font-size: 2rem;
}

.offcanvas-header .appearance .light-dark{
  margin: 0 !important;
  line-height: 40px;
}

.offcanvas-header .btn-close{
  line-height: 40px !important;
  opacity: 0.85;
  cursor: pointer;
  transition: 0.5s ease-in-out !important;
}

/* ===================================================================
* # Section
* ------------------------------------------------------------------- */

section {
  scroll-margin-top: 50px;
}

.section-dark {
  background-color: var(--black-mate);
  color: var(--white);
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 0.75s ease !important;
}

.section.show {
  opacity: 1;
  transform: translateY(0);
}

/* ## HOME */

#Home {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--black);
  color: var(--white) !important;
  vertical-align: middle;
}

.content-home {
  padding-top: 45vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.name-company {
  font-size: 7vh;
}

.typewrite {
  font-size: 3.5vh;
  font-weight: 900;
  color: transparent;

  -webkit-text-stroke: 1.5px var(--white);
}

.line-home{
  padding-right: 50vw;
}

.btn-home-contact{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: none;
  color: white;
  background-color: transparent;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.btn-home-contact span{
  position: absolute;
  display: block;
  background: var(--white);
}

.btn-home-contact span:nth-child(1){
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.25s !important;
}

.btn-home-contact:hover span:nth-child(1){
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.25s !important;
}

.btn-home-contact span:nth-child(2){
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.25s !important;
  transition-delay: 0.25s !important;
}

.btn-home-contact:hover span:nth-child(2){
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s !important;
  transition-delay: 0.25s !important;
}

.btn-home-contact span:nth-child(3){
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.25s !important;
  transition-delay: 0.5s !important;
}

.btn-home-contact:hover span:nth-child(3){
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.25s !important;
  transition-delay: 0.5s !important;
}

.btn-home-contact span:nth-child(4){
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.25s !important;
  transition-delay: 0.75s !important;
}

.btn-home-contact:hover span:nth-child(4){
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s !important;
  transition-delay: 0.75s !important;
}

.btn-home-contact:hover{
  background: var(--white);
  color: var(--purple);
  transition: 0.5s !important;
  transition-delay: 1s !important;
}

/* ## About-us */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: 360px !important;
}

.swiper-pagination-employeed .swiper-pagination-bullet {
  animation: fliter 4s ease infinite;
}

.swiper-pagination-employeed .swiper-pagination-bullet-active-main{
  background-color: var(--purple) !important;
}

.swiper-pagination-employeed .swiper-pagination-bullet-active-main:hover {
  transition: background-color 0.45s ease-in-out !important;
  background-color: var(--text-color) !important;
}

.pagination-space {
  height: 40px;
}

.img-face {
  height: 15rem !important;
}

.work-pos {
  font-size: 15px;
  color: var(--text-color) !important;

  text-shadow: 
        -0.75px -0.75px 0 var(--purple),
        0.75px -0.75px 0 var(--purple);
}

/* ## SERVICE */

.img-service {
  height: 20vh !important;
}

/* ## OUR-PROYECT */

.container-image-collage {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}

.box-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-image:nth-child(1) {
  grid-column-start: span 2;
}

.box-image:nth-child(4) {
  grid-column-start: span 2;
}

/* ## OUR-CLIENTS */

.swiper-pagination-clients .swiper-pagination-bullet {
  animation: fliter 4s ease infinite;
}

.swiper-pagination-clients .swiper-pagination-bullet-active-main {
  background-color: var(--purple) !important;
}

.div-info-img {
  position: relative;
  overflow: hidden;
}

.info-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  color: white;
  font-weight: bolder;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div-info-img:hover .info-img {
  opacity: 1;
  transition: 0.6s ease-in-out !important;
}

.div-info-img:hover img {
  filter: brightness(40%);
  transition: 0.6s ease-in-out !important;
}

/* ## CONTACT */

.content-contact {
  padding-top: 2vh;
  padding-bottom: 2vh;

  padding-left: 15vw;
  padding-right: 15vw;
}

.div-follow {
  border-right: 1px solid var(--white);
}

.a-contact {
  font-size: 2rem;
  color: var(--white)
}

.div-form-contact {
  padding-top: 3vh;
  padding-bottom: 3vh;

  padding-left: 1vw;
  padding-right: 1vw;
}

.div-form {
  padding-left: 4rem !important;
}

.form-contact {
  background: transparent !important;
  border: 0px !important;
  border-bottom: 3px solid var(--text-color) !important;
  color: var(--text-color) !important;
}

.form-contact:hover,
.form-contact:focus {
  transition: 0.45s ease-in-out !important;
  border-color: var(--purple) !important;
}

.form-contact::placeholder,
.form-contact::placeholder {
  color: var(--gray) !important;
}

.form-contact:hover::placeholder,
.form-contact:focus::placeholder {
  color: var(--purple) !important;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
  transition: 0.6s ease-in-out !important;
  background-color: var(--purple) !important;
  color: var(--white) !important;
}

/* ===================================================================
* # Animacion de iconos
* ------------------------------------------------------------------- */

.icon {
  transition: 0.45s ease-in-out !important;
}

.icon:hover {
  transition: 0.45s ease-in-out !important;
  font-size: 110%;
  color: var(--purple);
}

.icon2 {
  color: var(--text-color);
}

.icon2:hover {
  transition: 0.45s ease-in-out !important;
  font-size: 110%;;
  color: var(--purple);
}

.icon3 {
  transition: 0.45s ease-in-out !important;
  color: var(--purple);
}

.icon4:hover {
  transition: 0.30s ease-in-out !important;
  color: var(--purple);
}

/* ===================================================================
* # Footer
* ------------------------------------------------------------------- */

footer {
  background-color: var(--black);
  color: var(--white);
}

.logo-footer {
  height: 130px;
  max-width: 100%;

  vertical-align: middle;
  border-style: none;
}

.a-footer {
  font-size: 2rem;
  color: var(--white)
}

@media only screen and (max-width: 1000px) {
  .line-home{
    padding-right: 35vw;
  }

  .name-company {
    font-size: 5vh;
  }
  .title {
    font-size: 3.5vh;
    font-weight: bold;
  }

  .img-face {
    height: 25vh !important;
  }

  .container-image-collage {
    grid-template-columns: repeat(1, 1fr);
  }

  .box-image:nth-child(1) {
    grid-column-start: span 1;
  }

  .box-image:nth-child(4) {
    grid-column-start: span 1;
  }
}

@media only screen and (max-width: 768px) {
  .div-follow {
    padding-top: 0.5rem;
    border-right: 0px;
    border-bottom: 1px solid var(--white);
  }

  .content-contact {
    padding: 1rem;
  }

  .div-form-contact {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    padding-left: 2rem;
    padding-right: 2rem;
  }

  .div-form {
    padding-left: 0rem !important;
    padding-right: 0rem !important;

    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.displayflex {
  display: flex;
}

.colorBase {
  color: #5E17EB;
}

.font1-5 {
  font-size: 4vh;
}

.font9 {
  font-size: 7vh;
}

.font10 {
  font-size: 7vh;
}

.font12 {
  font-size: max(5vw, 5vh);
}

.textjus {
  text-align: justify;
}

.padding1 {
  padding: 1%;
}

.padding3 {
  padding: 3%;
}

.margin1 {
  margin: 1%;
}